# /etc/nixos/proxy/config.yaml
## ================= 说明 =================
# - 此配置搭配 mihomo 内核使用
# - 可以参考官方配置修改：https://github.com/MetaCubeX/mihomo/blob/Meta/docs/config.yaml
## ================= 说明 =================

# 1. 全局配置
mixed-port: 7890 # 局域网访问Port
bind-address: "*" #绑定IP地址
allow-lan: true # 允许局域网访问
mode: rule # 模式
log-level: info # 输出一般运行的内容，以及 error 和 warning 级别的日志
external-controller: 0.0.0.0:9090 # 网页端口
find-process-mode: strict # 匹配所有进程
tcp-concurrent: true # tcp 并发模式
ipv6: true

keep-alive-interval: 15
# fakeip 本地存储，省略DNS查询
profile:
  store-selected: true # true：重启后记住节点选择
  store-fake-ip: true # 持久化 fake-ip

# 2. 资源下载
geodata-mode: true
geo-auto-update: true
geo-update-interval: 24
geox-url: # 自定义 geodata url, 需要有代理的前提才能下载 geoip 和 geosite
  geoip: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"

# 3. Tun 配置
tun:
  enable: true #PC端开启 路由器不开启
  device: Meta
  stack: mixed # gvisor / lwip / mixed（混合模式）
  dns-hijack:
    - any:53 # 需要劫持的 DNS
  auto-route: true # 自动设置全局路由，可以自动将全局流量路由进入tun网卡。
  auto-detect-interface: true # 自动识别出口网卡
  endpoint-independent-nat: true

# 4. DNS 配置
dns:
  enable: true # 关闭将使用系统 DNS
  prefer-h3: true # 开启 DoH 支持 HTTP/3，将并发尝试
  ipv6: true
  listen: ":53" # 开启 DNS 服务器监听ipv4/ipv6
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16

  ## ================= 关键配置 =================
  # 如果发现无法选择节点，并且用 sudo journalctl -fu mihomo，输出日志为 “couldn't find ip”
  # 大概率是没能把域名解析成 IP
  default-nameserver:
    # === way 1 ===
    # - 223.5.5.5  # 阿里
    # - 119.29.29.29  # 腾讯
    # === way 2 ===
    - 114.114.114.114  # 中国大陆公共 DNS 服务器
    - 8.8.8.8  # Google
    - tls://1.12.12.12:853
    - tls://223.5.5.5:853
    - system # 从系统配置中添加 DNS 服务器。若未找到，则打印错误日志并跳过。

  nameserver:
    # === way 1 ===
    # - 223.5.5.5
    # - 119.29.29.29
    # === way 2 ===
    - 114.114.114.114  # default value
    - 8.8.8.8  # default value
    - tls://223.5.5.5:853 # DNS over TLS
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query#h3=true
    - system

  # 非必要配置。当配置 fallback 时，会查询 nameserver 中返回的 IP 是否为 CN
  # 当不是 CN，则使用 fallback 中的 DNS 查询结果
  # 确保配置 fallback 时能够正常查询
  fallback:
    - 8.8.8.8  # Google
    - 1.1.1.1  # Cloudflare

  # 配置查询域名使用的 DNS 服务器
  nameserver-policy:
    "geosite:cn": 223.5.5.5
    "geosite:!cn": 8.8.8.8
  ## ================= 关键配置 =================

  # 这里可以填写不使用 fake-ip 的域名
  fake-ip-filter:
    # === NTP/localhost ===
    - "*.lan"
    - "*.localdomain"
    - "*.pool.ntp.org"
    - "+.ntp.org"
    - "localhost"
    - "127.*"
    # -------------------- #
    - "*.battlenet.com.cn"
    - "*.battlenet.com"
    - "*.blzstatic.cn"
    - "*.battle.net"
    # === Linksys Wireless Router ===
    - "*.linksys.com"
    - "*.linksyssmartwifi.com"
    # === Apple Software Update Service ===
    - swscan.apple.com
    - mesu.apple.com
    # === Windows 10 Connnect Detection ===
    - "*.msftconnecttest.com"
    - "*.msftncsi.com"
    # === NTP Service ===
    - "time.*.com"
    - "time.*.gov"
    - "time.*.edu.cn"
    - "time.*.apple.com"
    - "time1.*.com"
    - "time2.*.com"
    - "time3.*.com"
    - "time4.*.com"
    - "time5.*.com"
    - "time6.*.com"
    - "time7.*.com"
    - "ntp.*.com"
    - "ntp.*.com"
    - "ntp1.*.com"
    - "ntp2.*.com"
    - "ntp3.*.com"
    - "ntp4.*.com"
    - "ntp5.*.com"
    - "ntp6.*.com"
    - "ntp7.*.com"
    - "*.time.edu.cn"
    - "*.ntp.org.cn"
    - "+.pool.ntp.org"
    - time1.cloud.tencent.com
    # === Music Service ===
    ## NetEase
    - "+.music.163.com"
    - "*.126.net"
    ## Baidu
    - musicapi.taihe.com
    - music.taihe.com
    ## Kugou
    - songsearch.kugou.com
    - trackercdn.kugou.com
    ## Kuwo
    - "*.kuwo.cn"
    ## JOOX
    - api-jooxtt.sanook.com
    - api.joox.com
    - joox.com
    ## QQ
    - "*.qq.com"
    - report.url.cn
    ## Xiami
    - "*.xiami.com"
    ## Migu
    - "+.music.migu.cn"
    # === Game Service ===
    ## Nintendo Switch
    - "+.srv.nintendo.net"
    ## Sony PlayStation
    - "+.playstation.net"
    - "+.playstation.com"
    - "+.stun.playstation.net"
    ## Microsoft Xbox
    - "xbox.*.microsoft.com"
    - "+.xboxlive.com"
    # === Other ===
    ## QQ Quick Login
    - localhost.ptlogin2.qq.com
    ## Golang
    - proxy.golang.org
    ## STUN Server
    - "stun.*.*"
    - "stun.*.*.*"
    ## Bilibili CDN
    - "*.mcdn.bilivideo.cn"
    # === Other ===
    - "*.bilibili.com"
    - "*.1huizhan.com"
    - "*.3.cn"
    - "*.300hu.com"
    - "*.360buy.cn"
    - "*.360buy.com"
    - "*.360buy.com.cn"
    - "*.360buyimg.com"
    - "*.360buyinternational.com"
    - "*.360top.com"
    - "*.jd.com"
    # WiFi-Calling 如果你发现你的WiFi Calling不能发图片 大概率是节点UDP问题
    - t-mobile.com
    - crl.t-mobile.com
    - eas3.msg.t-mobile.com
    - mascns.t-mobile.com
    - ns.sipgeo.t-mobile.com
    - epdg.epc.mnc240.mcc310.pub.3gppnetwork.org
    - epdg.epc.mnc260.mcc310.pub.3gppnetwork.org
    - ss.epdg.epc.mnc260.mcc310.pub.3gppnetwork.org
    - ss.epdg.epc.geo.mnc260.mcc310.pub.3gppnetwork.org
    # Hygege 提供
    - services.googleapis.cn
    - xn--ngstr-lra8j.com

# 5. 代理集合内容（用于自建节点）
proxies:

# 6. 代理组
proxy-groups:
  # 自动选择
  - name: "Auto"
    type: url-test # 下面开启了自动测速
    tolerance: 50 # 延迟差在 50ms 以内就不切换节点
    proxies:
    #         - test 这里填写你的自建节点
    use:
      - provider1
      - provider2
      # 还可以继续添加其它机场......
    url: "http://www.gstatic.com/generate_204"
    interval: 300 # 自动测速周期，单位：秒

  # 手动选择（其它规则）
  - name: "PROXY"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 奈飞
  - name: "Netflix"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 迪士尼
  - name: "Disney"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 油管
  - name: "Youtube"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 声破天
  - name: "Spotify"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # Tiktok
  - name: "Tiktok"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 电报
  - name: "Telegram"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 推特
  - name: "Twitter"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # chatgpt
  - name: "OpenAI"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # Copilot
  - name: "Copilot"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # Onedrive
  - name: "Onedrive"
    type: select
    proxies:
      #         - test 这里填写你的自建节点
      - "Auto"
    use:
      - provider1
  # 还可以继续添加其它代理组......

# 7. 代理集合（如果是自建节点，屏蔽这里）
proxy-providers:
  # 机场名称：provider1（名称可自定义，要修改对应 path 的名称）
  provider1:
    type: http
    url: "" # 订阅链接存放在双引号内
    path: ./proxy_providers/provider1.yaml # 默认存储在 /var/lib/mihomo/
    interval: 86400 # 机场订阅自动更新时间，单位：秒
    health-check:
      enable: true
      interval: 600
      timeout: 5000
      url: http://cp.cloudflare.com/generate_204

  # 机场名称：provider2
  provider2:
    type: http
    url: ""
    path: ./proxy_providers/provider2.yaml
    interval: 86400
    health-check:
      enable: true
      interval: 600
      timeout: 5000
      url: http://cp.cloudflare.com/generate_204

  # 还可以继续添加其它机场......

# 8. 规则集
rule-providers:
  lancidr:
    type: http
    behavior: ipcidr
    interval: 86400
    path: ./ruleset/lancidr.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/lancidr.txt"
  private:
    type: http
    behavior: domain
    interval: 86400
    path: ./ruleset/private.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/private.txt"
  direct:
    type: http
    behavior: domain
    interval: 86400
    path: ./ruleset/direct.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt"
  applications:
    type: http
    behavior: classical
    interval: 86400
    path: ./ruleset/applications.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/applications.txt"
  icloud:
    type: http
    behavior: domain
    interval: 86400
    path: ./ruleset/icloud.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/icloud.txt"
  apple:
    type: http
    behavior: domain
    interval: 86400
    path: ./ruleset/apple.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/apple.txt"
  cncidr:
    type: http
    behavior: ipcidr
    interval: 86400
    path: ./ruleset/cncidr.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/cncidr.txt"
  gfw:
    type: http
    behavior: domain
    interval: 86400
    path: ./ruleset/gfw.yaml
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/gfw.txt"

# 9. 自定义规则
rules:
  ## ======= 域名规则 =======
  # 直连
  - RULE-SET,applications,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,icloud,DIRECT
  - RULE-SET,apple,DIRECT
  - GEOSITE,microsoft@cn,DIRECT
  - GEOSITE,steam@cn,DIRECT
  - GEOSITE,category-games@cn,DIRECT
  - DOMAIN,flutter-io.cn,DIRECT
  - DOMAIN,mirrors.tuna.tsinghua.edu.cn,DIRECT
  - DOMAIN,chat.qwen.ai,DIRECT
  # 代理
  - DOMAIN,xn--ngstr-lra8j.com,PROXY
  - DOMAIN,services.googleapis.cn,PROXY
  - DOMAIN,mtalk.google.com,PROXY
  - DOMAIN-SUFFIX,voidsec.com,PROXY # voidsec 礼貌性添加所谓的 DNS 泄露检测站
  - DOMAIN-SUFFIX,browserleaks.com,PROXY # browserleaks 礼貌性添加所谓的 DNS 泄露检测站
  - DOMAIN-SUFFIX,ipleak.net,PROXY # ipleak 礼貌性添加所谓的dns泄露检测站
  - DOMAIN,api.msn.com,Copilot
  - DOMAIN,assets.msn.com,Copilot
  - DOMAIN,copilot.microsoft.com,Copilot
  - DOMAIN,dealczars.bing-shopping.microsoft-falcon.io,Copilot
  - DOMAIN,edgeservices.bing.com,Copilot
  - DOMAIN,functional.events.data.microsoft.com,Copilot
  - DOMAIN,gateway.bingviz.microsoftapp.net,Copilot
  - DOMAIN,location.microsoft.com,Copilot
  - DOMAIN,login.microsoftonline.com,Copilot
  - DOMAIN,proteus-assetstore.azurewebsites.net,Copilot
  - DOMAIN,self.events.data.microsoft.com,Copilot
  - DOMAIN,services.bingapis.com,Copilot
  - DOMAIN,shopping.bing-shopping.microsoft-falcon.io,Copilot
  - DOMAIN,sapphire.api.microsoftapp.net,Copilot
  - DOMAIN,sr.bing.com,Copilot
  - DOMAIN,sydney.bing.com,Copilot
  - DOMAIN,ssl.bing.com,Copilot
  - DOMAIN,th.bing.com,Copilot
  - DOMAIN,www.bing.com,Copilot
  - DOMAIN,www2.bing.com,Copilot
  - DOMAIN,www.bingapis.com,Copilot
  - DOMAIN-SUFFIX,edge.microsoft.com,Copilot
  - DOMAIN,events.data.microsoft.com,REJECT # 拦截微软部分遥测
  - GEOSITE,adobe,REJECT # 屏蔽 adobe
  - GEOSITE,openai,OpenAI # chatgpt
  - GEOSITE,onedrive,Onedrive
  - GEOSITE,youtube,Youtube
  - GEOSITE,telegram,Telegram
  - GEOSITE,netflix,Netflix
  - GEOSITE,disney,Disney
  - GEOSITE,spotify,Spotify
  - GEOSITE,tiktok,Tiktok
  - GEOSITE,facebook,PROXY
  - GEOSITE,twitter,Twitter
  - GEOSITE,google,PROXY
  - GEOSITE,category-scholar-!cn,PROXY
  - GEOSITE,geolocation-!cn,PROXY
  - RULE-SET,gfw,PROXY
  - RULE-SET,direct,DIRECT
  - RULE-SET,lancidr,DIRECT
  - GEOSITE,cn,DIRECT
  ## ==========================
  # IP 规则
  # 直连
  - GEOIP,private,DIRECT,no-resolve
  - RULE-SET,cncidr,DIRECT
  - GEOIP,CN,DIRECT
  # 代理
  - GEOIP,telegram,Telegram,no-resolve
  - GEOIP,netflix,Netflix,no-resolve
  - GEOIP,google,PROXY,no-resolve
  - GEOIP,twitter,Twitter,no-resolve
  - GEOIP,JP,PROXY,no-resolve

  # 最终匹配：白名单模式
  - MATCH,PROXY
